<p> ngIf Example</p>
<div *ngIf="courses.length > 0">
  <h2>List</h2>
</div>

<div *ngIf="courses.length == 0">
  <h2>Nothing</h2>
</div>

<!-- alternative -->
<div *ngIf="courses.length > 0; else noCourses1">
  List
</div>
<ng-template #noCourses1>
  Nothing
</ng-template>


<!-- alternative  if else  -->
<div *ngIf="courses.length > 0; then courseList else noCourses2">
</div>

<ng-template #courseList>
  List
</ng-template>

<ng-template #noCourses2>
  Nothing
</ng-template>

<!-- if true shows both divs -->

<div *ngIf="true">    
  <div>Hello Baby</div>
  <div>Hello Dear</div>
</div>

<!-- hidden property -->
<p> Hidden Property Example</p>
<div>
  <h2>List</h2>
</div>
<div hidden>
  <h2>Nothing</h2>
</div>


<div [hidden] = "courses.length == 0">
  <h2>List</h2>
</div>
<div [hidden] = "courses.length > 0">
  <h2>Nothing</h2>
</div>
